@use "../abstract/variables";
@use "../abstract/mixins";

#contatos {
  @include mixins.margem-central(80%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;

  .contatos-imgs {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;

    img {
      width: 100%;
      &:nth-child(n + 2) {
        width: 45%;
      }
    }
  }

  .contatos-form {
    max-width: 50%;
    background: variables.$gradiente-primario;
    padding: 0rem 1.5rem;
    border-radius: 1rem;

    .titulo {
      @include mixins.font-family-size-color(variables.$ft-titulos, 1.7rem, variables.$cor-secundaria);
      margin: 1.75rem 0rem 1.5rem;
    }

    .infos {
      @include mixins.font-family-size-color(variables.$ft-textos, 1.2rem, variables.$cor-primaria);
    }

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.75rem;
      align-self: stretch;

      input {
        border-radius: 25px;
        padding: 0.9rem;
        border: none;
      }

      .form-group {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          @extend .infos;
          font-weight: bold;
        }

        textarea {
          @extend input;
        }
      }

      .btn {
        @extend input;
        background: variables.$cor-default;
        color: white;
        font-size: 1rem;
        width: 100%;
        transition: 0.3s;

        &:hover {
          background: variables.$cor-secundaria;
        }
      }
    }
  }
}
