@use "../abstract/variables";
@use "../abstract/mixins";

#desconto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  h4 {
    @include mixins.font-family-size-color(variables.$ft-titulos, 1.6rem, variables.$cor-primaria);
  }
  p {
    @include mixins.font-family-size-color(variables.$ft-textos, 1.2rem, variables.$cor-primaria);
  }
  .input-btn {
    $largura-input: 790px;
    width: $largura-input;
    height: 65px;
    border: 1px solid variables.$cor-secundaria;
    border-radius: 65px;
    margin: 0 auto;
    display: inline-flex;

    input {
      @include mixins.font-family-size-color(variables.$ft-textos, 1.2rem, variables.$cor-primaria);
      width: calc($largura-input * 0.65);
      border: none;
      outline: none;
      margin-left: 2rem;
    }

    button {
      @include mixins.font-family-size-color(variables.$ft-textos, 1.2rem, white);
      width: calc($largura-input * 0.35);
      background: variables.$cor-secundaria;
      border-radius: 0 65px 65px 0;
      border: none;
    }
  }
}
