@mixin margem-central($width) {
  width: $width;
  margin: 0 auto;
}

@mixin font-family-size-color($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}
